<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NoFoodLeftBehind</title>

		<div style="text-align: center;">
			<img src='https://pewdiepie.ca/images/logo.png' alt='NoFoodLeftBehind' width='40%;' height='40%;'>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/datepicker.css">

		<script>
		$(document).ready(function() {
			$('.datepicker').datepicker({clickInput:true});
		});
		
		function generateFoodItem(index) {
			var html = '<div class="form-group row">'
						+ '<div class="col-sm-6">'
							+ '<label for="food_name">Type of Food:</label>'
							+ '<input type="text" id="food_name" name="food_name['+index+']" class="form-control">'
						+ '</div>'
						+ '<div class="col-sm-6">' + '<label for="quantity">Quantity:</label>'
							+ '<input type="text" id="quantity" name="quantity['+index+']" class="form-control">'
						+ '</div>'
					+ '</div>'
					+ '<div class="form-group row">'
						+ '<div class="col-sm-6">'
							+ '<label for="expire_date">Throw Away Date:</label><br/>'
							+ '<input class="datepicker" data-provide="datepicker" id="expire_date" name="expire_date['+index+']">'
						+ '</div>'
						+ '<div class="col-sm-6">'
							+ '<label for="perishable">Is this food perishable?</label>'
							+ '<input type="checkbox" id="perishable" name="perishable['+index+']" class="form-control">'
						+ '</div>'
					+ '</div>'
					+ '<div class="form-group row">'
						+ '<div class="col-sm-12">'
							+ '<label for="comments">Comments:</label>'
							+ '<textarea type="text" id="comments" name="comments['+index+']" class="form-control"></textarea>'
						+ '</div>'
					+ '</div>';
			return html;
		}
		var counter = 1; // There's already an item 0.
		function addFoodItem() {
			var newFoodItem = document.createElement("li");
			newFoodItem.id = counter;
			newFoodItem.innerHTML = generateFoodItem(counter);
			$('#food_list').append(newFoodItem);
			counter += 1;
			$('.datepicker').datepicker({clickInput:true});
		}
		</script>

		<style type="text/css">
			html, body {
				background-color: #f2f2f2;
			}
			.page-content {
				width: 80%;
				max-width: 1024px;
				margin: 0 auto;
				padding: 1em;
			}
			#food_list {
				list-style-type: none;
			}
            
            
                        .item {
                background-color: #d9d9d9;
                padding: 25px;
            }
            ul.header-styles {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333333;
            }
            #banner {
                width: 110%;
                background-color: aqua;
            }
            .button {
                display: inline-block;
                margin: 2px;
                padding: 10px;
                border: 0;
                border-radius: 5px;
                border-radius: 5px;
                border-radius: 5px; /* future proofing */
                border-radius: 5px; /* for old Konqueror browsers */
                background-color: #aaa;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                width:120px;
            }
            li a.dropbtn {
                display: inline-block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover, .dropdown:hover .dropbtn {
                background-color: #EB593C;
            }
            li.dropdown {
                display: inline-block;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #FFFCEC;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index:2;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;

            }
            .dropdown-content a:hover {background-color: #f1f1f1}
            .dropdown:hover .dropdown-content {
                display: block;
            }
            
		</style>
        
        <div class="header-styles" >
			<ul class="header-styles" style="text-align: center; ">
                <li class="dropdown header-styles"><a href="https://pewdiepie.ca/" class="dropbtn">Home</a></li>
                
                <li class="dropdown header-styles"><a href="https://pewdiepie.ca/offerings" class="dropbtn">Submit</a></li>
                
                <li class="dropdown header-styles"><a href="#" class="dropbtn">Account</a></li>
                
                <li class="dropdown header-styles"><a href="https://pewdiepie.ca/register" class="dropbtn">Register</a></li>
                
                <li class="dropdown header-styles"><a href="https://pewdiepie.ca/login" class="dropbtn">Login</a></li>
                
			</ul>
        </div> 
        
        
	</head>
	<body>
		<div class="page_container">

			<div class="page-content">

				<h1>Offer Food</h1>

				<form id="form-registration" method="post" action="/addOffering">
					<ul id="food_list">
						<li id="0">
							<div class="form-group row">
								<div class="col-sm-6">
									<label for="food_name">Type of Food:</label>
									<input type="text" id="food_name" name="food_name[0]" class="form-control">
								</div>
								<div class="col-sm-6">
									<label for="quantity">Quantity:</label>
									<input type="text" id="quantity" name="quantity[0]" class="form-control">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-6">
									<label for="expire_date">Throw Away Date:</label><br/>
									<input class="datepicker" data-provide="datepicker" id="expire_date" name="expire_date[0]">
								</div>
								<div class="col-sm-6">
									<label for="perishable">Is this food perishable?</label>
									<input type="checkbox" id="perishable" name="perishable[0]" class="form-control">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-12">
									<label for="comments">Comments:</label>
									<textarea id="comments" name="comments[0]" class="form-control"></textarea>
								</div>
							</div>
						</li>
					</ul>

					<a href="javascript:;" onclick="addFoodItem()" class="btn">+</a>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>

	</body>
</html>