<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NoFoodLeftBehind</title>
        <center><div style="width: 500px; height: 40px;">
            <center><img src = '../logo.png' alt = 'NoFoodLeftBehind' width='80%' height='80%'></center>
            </div></center>
        
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script>
	function generateFoodItem(index) {
	  	var html = '<div class="form-group row">'
					+ '<div class="col-sm-6">'
						+ '<label for="food_name">Type of Food:</label>'
						+ '<input type="text" id="food_name" name="food_name['+index+']" class="form-control">'
					+ '</div>'
					+ '<div class="col-sm-6">'
						+ '<label for="quantity">Quantity:</label>'
						+ '<input type="text" id="quantity" name="quantity['+index+']" class="form-control">'
					+ '</div>'
				+ '</div>'
				+ '<div class="form-group row">'
					+ '<div class="col-sm-6">'
						+ '<label for="expire_date">Throw Away Date:</label>'
						+ '<input type="expire_date" id="expire_date" name="expire_date['+index+']" class="form-control">'
					+ '</div>'
					+ '<div class="col-sm-6">'
						+ '<label for="perishable">Is this food perishable?</label>'
						+ '<input type="checkbox" id="perishable" name="perishable['+index+']" class="form-control">'
					+ '</div>'
				+ '</div>'
				+ '<div class="form-group row">'
					+ '<div class="col-sm-12">'
						+ '<label for="comments">Comments:</label>'
						+ '<textarea type="text" id="comments" name="comments['+index+']" class="form-control"></textarea>'
					+ '</div>'
				+ '</div>';
		return html;
	}
	
	var counter = 1; // There's already an item 0.
	function addFoodItem() {
		var newFoodItem = document.createElement("li");
		newFoodItem.id = counter;
		newFoodItem.innerHTML = generateFoodItem(counter);
		$('#food_list').append(newFoodItem);
        
	    counter += 1;
    }
    </script>

		<style type="text/css">
			html, body {
				background-color: #f2f2f2;
			}
			.page-content {
				width: 80%;
				max-width: 1024px;
				margin: 0 auto;
				padding: 1em;
			}
      #food_list {
        list-style-type: none;
      }
		</style>
	</head>
	<body>
		<div class="page_container">

			<div class="page-content">

				<h1>Offer Food</h1>

				<form id="form-registration" method="post" action="/addOffering">
					<ul id="food_list">
						<li id="0">
							<div class="form-group row">
								<div class="col-sm-6">
									<label for="food_name">Type of Food:</label>
									<input type="text" id="food_name" name="food_name[0]" class="form-control">
								</div>
								<div class="col-sm-6">
									<label for="quantity">Quantity:</label>
									<input type="text" id="quantity" name="quantity[0]" class="form-control">
								</div>
							</div>
								
							<div class="form-group row">
								<div class="col-sm-6">
									<label for="expire_date">Throw Away Date:</label>
									<input type="expire_date" id="expire_date" name="expire_date[0]" class="form-control">
								</div>
								<div class="col-sm-6">
									<label for="perishable">Is this food perishable?</label>
									<input type="checkbox" id="perishable" name="perishable[0]" class="form-control">
								</div>
							</div>
								
							<div class="form-group row">
								<div class="col-sm-12">
									<label for="comments">Comments:</label>
									<textarea id="comments" name="comments[0]" class="form-control"></textarea>
								</div>
							</div>
						</li>
					</ul>

					<a href="javascript:;" onclick="addFoodItem()" class="btn">+</a>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>